body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.navbar {
    font-weight: bold;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

li:hover {
    background-color: rgb(60, 175, 60);
    font-size: 19px;
    border-radius: 5px;
}

#display {
    text-align: center;
    margin-top: 1000px;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
}

h4 {
    font-size: 15px;
    text-align: center;
}