body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    background-color: black;
}
/* Styling for the Navbar */
.navbar {
    font-weight: bold;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    font-size: 15px;
}

/* Styling for each category to make it responsive */
li:hover {
    background-color: yellow;
    font-size: 19px;
    border-radius: 5px;
}

#display {
    text-align: center;
    margin-top: 20px;
    justify-content: center;
}

/* Styling for the Cards */
.col {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5px;
    width: 290px;
    height: 100%;
    border-radius: 5px;
    flex-direction: column;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: auto;
    margin-top: auto;
}

h4 {
    font-size: 17px;
    text-align: center;
}

